[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
jupyter-dash = "*"
jupyter-server-proxy = "*"
jupyterlab-code-formatter = "*"
black = "*"
isort = "*"
ipykernel = "*"
pylint = "*"

[packages]
pandas = "*"
dash = "*"
dash-bootstrap-components = "*"
networkx = "*"
dash-cytoscape = "!=0.3.0"
faker = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
